/* -----------------------------------------------------------------
    - Project Carousel
----------------------------------------------------------------- */

.gallery {
  margin-top: rem(38px);
}

.swiper-slide-project {
  height: rem(292px);
  max-width: rem(480px);
  opacity: .5;
  overflow: hidden;
  transition: opacity .3s ease-in-out;

  &.swiper-slide-active {
    opacity: 1;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: $small) {
    height: rem(148px);
  }
}