/* -----------------------------------------------------------------
    - Portfolio
----------------------------------------------------------------- */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr [col-start]);
  column-gap: 1.75rem;
  row-gap: 1.75rem;

  @media only screen and (max-width: $large) {
    grid-template-columns: repeat(2, 1fr [col-start]);
  }

  @media only screen and (max-width: $medium) {
    grid-template-columns: repeat(1, 1fr [col-start]);
  }
}