/* -----------------------------------------------------------------
    - Timeline
----------------------------------------------------------------- */

.timeline {
	margin-top: rem(29px);
	padding-left: rem(24px);
	position: relative;

	&::before {
		content: '';
		border-left-color: var(--color-border);
		border-left-width: 1px;
		border-left-style: solid;
		height: rem(44px);
		width: 1px;
		@include position(absolute, $top: rem(-30px));
	}

	@media only screen and (max-width: $small) {
		padding-left: rem(14.5px);
	}
}
